<template>
<li class="nav-item dropdown" v-html="contentData">
              
            </li>
        
</template>

<script>
    import axios from 'axios'
	export default {
		props: ['route'],
 		data () {
		  return {
                contentData:''
          }
       },
       methods:{
           searhNotification:function(){
                let self = this;
                self.$store.dispatch('searhNotification', self.route)
                .then(function (response) {
                   self.contentData=response.data.render
                }).catch(function (error) {
                    processErrorVue(self, error);
                });       
           }

       },
       mounted: function () {
             this.searhNotification();
             /*   setInterval(function () {
                    this.searhNotification();
                }.bind(this), 30000); */
        }
	}
</script>