
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


                                        
@import 'variable';
@import 'app-template';
@import 'pages'; 
@import 'sidebar'; 
@import '../scss/icons/font-awesome/css/fontawesome-all.css'; 
@import '../scss/icons/simple-line-icons/css/simple-line-icons.css';
@import '../scss/icons/weather-icons/css/weather-icons.min.css';
@import '../scss/icons/linea-icons/linea.css';
@import '../scss/icons/themify-icons/themify-icons.css';
@import "../scss/icons/material-design-iconic-font/css/materialdesignicons.min.css";
@import 'widgets';
@import 'grid';
@import 'responsive'; 
@import '../css/spinners.css'; 
@import '../css/animate.css';
@import '../css/treeview.css';
@import '../css/checkbox.css';
@import '../css/stack.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.alertFooter{
  background: #36A2CDB3; 
  display:block; 
  position:fixed; 
  bottom:0px; 
  left:0px; 
  text-align:center; 
  padding:10px 0px; 
  width:100%;
  z-index:99999;
}
.alertFooter-info {
  background: #36A2CDB3;   
}
.alertFooter-danger {
   background: #FC4B6CB3;    
}

.alertFooter span , .alertFooterInfo span{
  color:#fff; 
  text-shadow:1px 1px 0px #000;
  font-size:18px;
  font-weight:bold;
}



.d-center {
  display: flex;
  align-items: center;
}

.v-select .dropdown li {
  border-bottom: 1px solid rgba(112, 128, 144, 0.1);
}

.v-select .dropdown li:last-child {
  border-bottom: none;
}

.v-select .dropdown li a {
  padding: 0px;
  width: 100%;
  font-size: 1.25em;
  color: #3c3c3c;
}

.v-select .dropdown-menu .active > a {
  color: #fff;
}

.footable .pagination{
    li{
        a {
            position: relative;
            display: block;
            padding: .5rem .75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #0275d8;
            background-color: $white;
            border: 1px solid #ddd;    
        }
        &.active a{
            z-index: 2;
            color: #fff;
            background-color: #0275d8;
            border-color: #0275d8;
        }
    }
    li.disabled {
        a {
            color: #636c72;
            pointer-events: none;
            cursor: not-allowed;
            background-color: $white;
            border-color: #ddd;
        }
    }
    li:first-child {
        a {
            margin-left: 0;
            border-bottom-left-radius: .25rem;
            border-top-left-radius: .25rem;
        }
    }
}
.footable-odd{
    background: $light;
}

form label {
  font-weight: 500;
}